body
{
    color: #333;
    text-align:center;
    font-family: "Arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#Cabecera
{
    background: red;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 90%;
    padding: 1em;
    text-align: left;
    border: 4px rgb(133, 85, 85);
    margin: auto;
}
#containerh1
{
    font-size: 30px;
}